<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resgiter</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformation</servlet-name>
        <servlet-class>controller.UpdateInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controller.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyInfor</servlet-name>
        <servlet-class>controller.MyInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyInformation</servlet-name>
        <servlet-class>controller.MyInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>controller.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryBuy</servlet-name>
        <servlet-class>controller.HistoryBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectBuyOrDelete</servlet-name>
        <servlet-class>controller.SelectBuyOrDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resgiter</servlet-name>
        <url-pattern>/resgiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformation</servlet-name>
        <url-pattern>/updateInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyInfor</servlet-name>
        <url-pattern>/myInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyInformation</servlet-name>
        <url-pattern>/myinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryBuy</servlet-name>
        <url-pattern>/historybuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectBuyOrDelete</servlet-name>
        <url-pattern>/selectbuyordelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
